---
layout: layouts/base.liquid
---
<noscript>
  <div class="note">
    <h2>JavaScript ist deaktiviert</h2>
    <p><b>Hinweis</b>: Die Einträge unten lassen sich mit aktiviertem JavaScript filtern.</p>
  </div>
</noscript>

<div id="record-filter">
  <label class="search" for="search" hidden>
    <span class="search__label">Filter</span>

    <input type="text" id="search" class="search__control" spellcheck="false" autofocus placeholder="web technology">
  </label>

  <div class="instruction-box">
    <p>
      Navigation: <kbd>↑</kbd>, <kbd>↓</kbd>, <kbd>←</kbd>, <kbd>→</kbd>
    </p>
  </div>

  <ul id="record-list" class="record-list">
    {% for record in records.entries %}
      <li class="record" data-key="{{ record.key }}">
        <div class="record__title">{{ record.title }}</div>
        <nav class="record__links">
          {% for link in record.links %}
            <a class="record__link" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </nav>
      </li>
    {% endfor %}
  </ul>
</div>
