.nav {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;

    &,
    > a {
        display: block;

        @include media-query(lap-and-up) {
            display: inline-block;
        }
    }

    > a:not(:last-child) {
        margin-bottom: $half-spacing-unit;

        @include media-query(lap-and-up) {
            margin-bottom: 0;
            margin-right: $half-spacing-unit;
        }
    }
}
