*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
lila 3D0F3D
lila 32003D
yllw FAA700
*/

html {
    min-height: 100%;
    overflow-y: scroll;
    color: #FFE0E7;
    background-color: #28143D;
    font: 300 20px Ubuntu, Arial, sans-serif;
    line-height: 1.5;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, hr,
figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
figure {
    margin-bottom: 1.5rem;
}

ul, ol {
    margin-left: 2rem;
}

a {
    color: #8F2400;
    font-weight: 500;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #BD2F00;
}

input, textarea {
    color: #fff;
    font: 300 20px Ubuntu, Arial, sans-serif;
    line-height: 1.5;
    text-decoration: none;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    border: 0;
}

kbd {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 2px;
    padding: 1px 8px;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: Consolas, monospace;
}

.wrapper {
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (min-width: 960px) {
    .wrapper {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
}

.nav {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}

.nav > li:not(:last-child) {
    margin-right: 10px;
}

.nav > li,
.nav > li > a {
    display: inline-block;
}

.nav > li > a {
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
    background-color: #8F2400;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
    background-color: #BD2F00;
    outline-color: #FFBD24;
}

.site-head {
    margin-bottom: 5rem;
}

.site-title {
    padding: 10px 20px;
    font-size: 5rem;
    text-align: center;
}

.site-foot {
    padding: 2rem;
}

.site-foot p:last-child {
    margin-bottom: 0;
}

.page-content {
    margin-bottom: 5rem;
}

.info-box {
    padding: 10px 20px;
    text-align: center;
}

.filter-input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.filter-input-wrapper:before {
    content: "";
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(to right, rgba(0,0,0,0), #1E0F2E);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, #1e0f2e 33%, #1e0f2e 100%);
}

.filter-input-wrapper:after {
    content: "\26B2";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 3;
    padding: 10px 20px;
    transform: rotate(-45deg);
    font-size: 3rem;
}

.filter-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 3rem;
    border: 0;
}

.filter-input:hover,
.filter-input:focus,
.filter-input:active {
    outline-color: #FFBD24;
}

.course-list {
    margin-left: 0;
    list-style: none;
}

.course-list ul {
    margin-bottom: 0;
}

.filter-input,
.list-item {
    background-color: #1E0F2E;
}

.list-item {
    position: relative;
    padding: 20px;
}

.list-item:not(:last-child) {
    margin-bottom: 10px;
}

.list-item:after {
    content: attr(data-abbr);
    position: absolute;
    top: 10px;
    right: 20px;
}

.list-item--active {
    border-left: 5px solid #FFBD24;
}

.list-item__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
