/*
* Internet Explorer 6 was right!
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}



/*
* Prevent iOS text size adjust after orientation change, without disabling
* user zoom.
*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



/*
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `main` in IE 11.
*/
footer,
header,
main,
nav {
    display: block;
}



/*
* Reset some basic elements
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, hr,
figure, body {
    margin: 0;
    padding: 0;
}



/*
* Set `margin-bottom` to maintain vertycal rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
figure,
%vertical-rhythm {
    margin-bottom: $base-spacing-unit;
    margin-bottom: ($base-spacing-unit / $base-font-size)*1rem;
}


[hidden] {
    display: none;
}

/*
* Clearfix
*/
/* %clearfix:after {
    content: "";
    display: table;
    clear: both;
} */



/*
* Images
*/
/* img {
    border: 0;
    font-style: italic;  // Emphasis on `alt` text
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
} */



/*
* Figures
*/
/* figure {

    > img {
        display: block;
    }

    > * {
        margin-bottom: 0;
    }
}

figcaption {
    @include font-size($small-font-size);
} */



/*
* Rulers
*/
/* hr {
    border: 0;
    border-bottom: 2px solid $c-text;
    margin-bottom: $base-spacing-unit - 2px;
    margin-bottom: (($base-spacing-unit - 2px) / $base-font-size)*1rem;
} */



/*
* iframes
*/
/* iframe {
    vertical-align: middle;
} */
