/*
* Typography
*/
$font-family: Ubuntu, Helvetica, sans-serif;
$font-weight--regular: 300;
$font-weight--bold: 500;



/*
* Colors
*/
$c-text: #333;
$c-background: #efefef;
$c-background--dark: darken($c-background, 6%);

$c-ui: #3756a4;
$c-ui--dark: #0f3db1;

$c-link: $c-ui;
$c-link--attention: #842d86;

$c-alt: #e6bd41;

$c-gray: #636357;



/*
* Misc
*/
$content-width: 960px;
