---
layout: compress
---
{% for record in site.data.records-17-04-06 %}
    {% if page.key == record[0] %}
        {% if page.index %}
            {% assign link_index = page.index %}
        {% else %}
            {% assign link_index = 0 %}
        {% endif %}
        {% for link in record[1].links %}
            {% if forloop.index0 == link_index %}
                {% assign redirect_url = link.url %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Redirecting …</title>
        <link rel=canonical href="{{ redirect_url }}">
        <meta http-equiv=refresh content="0; url={{ redirect_url }}">
        <style>
        body {
            max-width: 800px;
            margin: 100px auto;
            font-size: large;
            font-family: Consolas, monospace;
            color: {{ site.color.text | prepend: '#' }};
            background-color: {{ site.color.background | prepend: '#' }};
        }
        a {
            color: {{ site.color.ui | prepend: '#' }};
        }
        </style>
    </head>
    <body>
        <h1>Redirecting to …</h1>
        <p><a href="{{ redirect_url }}">{{ redirect_url }}/</a></p>
        <p style="position: absolute; right: 100px; bottom: 50px;">ᕕ[ ᐛ ]ᕗ</p>
    </body>
    <script>location='{{ redirect_url }}';</script>
</html>

