/*------------------------------------*\
    #PAGE
    General page layout
\*------------------------------------*/
/**
 * Page
 */
.wrapper {
    padding-right: $half-spacing-unit;
    padding-left: $half-spacing-unit;

    > :last-child {
        margin-bottom: 0;
    }

   @include media-query(desk) {
        max-width: $content-width;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Page Content
 */
.page-content {
    @include vertical-gap(bottom);
}

.note {
    @extend %vertical-rhythm;
    padding: $half-spacing-unit $base-spacing-unit;

    > :last-child {
        margin-bottom: 0;
    }
}
